* {
    text-align: center;
}
h1, p {
    color: white;
}
footer, #colordiff {
    background-color: yellow;
    margin-top: -10px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    border-radius: 25px;
    color: black;
}
body {
    background-image: url('../images/Bikinibottom.jpg'); 
    background-color: #ff3399; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
a {
    font-size: 30px;
    cursor: pointer;
}
#ignorefont {
    font-size: 16px;
}
hr {
    border: 1px solid rgb(218, 203, 3);
    height: 10px;
    background-color: rgb(218, 203, 3);
    border-radius: 25px;
}